@tailwind base;
@tailwind components;
@tailwind utilities;
.rfm-marquee-container {
    overflow: hidden;
}
@layer utilities {
    .item-text {
      color: transparent;
      -webkit-text-stroke: 2px black;
    }
    .dark .item-text-dark {
      color: transparent;
      -webkit-text-stroke: 2px white;
    }
  }

