---
import img from '../../public/Me.png'

---

<section class="text-white py-12">
    <div class="w-[356px] font-semibold leading-tight">
        <h2 class="text-[80px] opacity-50">Acerca</h2>
        <h2 class="text-[80px] text-end">De mi</h2>
    </div>
    <div class="bg-blackAbout  p-8 rounded-3xl mt-12">
        <div class="flex justify-between">
            <div class="w-8/12">
                <p class="text-2xl">
                    ¡Hola! Soy <span class="text-violet">John Angel.</span> <br> <br>
    
                        Soy un <span class="text-violet">desarrollador web Full Stack</span> con una fuerte inclinación hacia el <span class="text-violet">FrontEnd</span> y el <span class="text-violet">diseño de aplicaciones web</span>. Me encanta transformar ideas en experiencias digitales atractivas y funcionales. <br> <br>
                        
                        Siempre estoy dispuesto a <span class="text-violet">trabajar en equipo</span> y me apasiona estar en <span class="text-violet">constante aprendizaje</span>, explorando nuevas tecnologías y metodologías. Recientemente, he estado trabajando en algunos proyectos que puedes encontrar en la sección de "proyectos". <br> <br>
                        
                        Me entusiasma enfrentar nuevos desafíos y seguir creciendo en este campo que tanto me apasiona. ¿Te gustaría saber más? <span class="text-violet">¡Contáctame!</span>
                </p>
            </div>
            <div class="w-4/12 flex items-center justify-end">
                <img  src="../../public/imgs/Me.png" alt="">
            </div>
        </div>
        <div class="mt-8">
            <button class="py-2 px-4 border border-white rounded-full text-lg hover:text-black hover:bg-white">Hablemos</button>
        </div>
    </div>
</section>