<footer class="w-11/12 m-auto text-white py-24">
    <div>
        <h2 class="text-6xl font-semibold mb-4">Tienes una idea?</h2>
        <h3 class="text-6xl ">Hablemos ↗</h3>
    </div>
    <div class="flex justify-between mt-32">
        <h2 class="text-2xl">Jairoanngelll@gmail.com</h2>
        <div class="flex text-xl gap-20">
            <div>
                <ul class="flex flex-col gap-12">
                    <li>Whatsapp</li>
                    <li>Twitter</li>
                </ul>
            </div>
            <div>
                <ul class="flex flex-col gap-12">
                    <li>Linkedin</li>
                    <li>Facebook</li>
                </ul>
            </div>
            <div>
                <ul class="flex flex-col gap-12">
                    <li>Github</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
    </div>
</footer>