<header class="flex flex-col justify-center items-center">
    <h2 class="text-white mt-4 mb-4 text-3xl font-bold">John</h2>
    <nav class="flex h-14">
        <ul class="flex gap-2 items-center rounded-full bg-[#141414] text-grayv1 text-lg">
            <li class="bg-white flex items-center text-black h-full px-5 rounded-full">Inicio</li>
            <li class=" flex items-center text-grayv1 h-full px-5 rounded-full">Sobre mi</li>
            <li class=" flex items-center text-grayv1 h-full px-5 rounded-full">Habilidades</li>
            <li class=" flex items-center text-grayv1 h-full px-5 rounded-full">Proyectos</li>
            <li class=" flex items-center text-grayv1 h-full px-5 rounded-full">Estudios</li>
            <li class=" flex items-center text-grayv1 h-full px-5 rounded-full">Experiencia</li>
            <li class=" flex items-center text-grayv1 h-full px-5 rounded-full">Contacto</li>
        </ul>
    </nav>
</header>