<div class="relative">
    <img class="absolute bottom-80 right-[73em]" src="../../public/icons/Gradient2.png" alt="">
    <section class="w-11/12 m-auto">
    <div class="flex items-center   text-white ">
        <h2 class="w-8/12 text-[150px]">Desarrollador</h2>
        <div class="w-4/12 flex justify-center gap-4 translate-y-4">
            <button class="border py-6 px-12 rounded-full text-lg">Curriculum</button>
            <button class="border py-2 px-5 rounded-full"><img src="../../public/icons/downLoad.png" alt=""></button>
        </div>
    </div>
    <div class="flex items-center justify-between text-white">
        <div class="w-3/6">
            <p class="text-2xl">Hola, soy <span class="text-violet">Jonh Jairo Angel</span>, desarrollador web con experiencia en frontend y backend. Utilizo tecnologías como HTML, CSS, JavaScript, React y Node.js para crear soluciones web eficientes y modernas.</p>
        </div>
        <div class="w-3/6">
            <h2 class="text-[150px] text-center">Full-Stack </h2>
        </div>
    </div>
    <div class="flex gap-4 text-white mt-10">
        <a href="#" class="flex gap-2 py-2 px-4 rounded-full items-center border"><img src="../../public/icons/github.png" alt="">GitHub</a>
        <a href="#" class="flex gap-2 py-2 px-4 rounded-full items-center border"><img src="../../public/icons/linkedin.png" alt="">Linkedin</a>
        <a href="#" class="flex gap-2 py-2 px-4 rounded-full items-center border"><img src="../../public/icons/linkedin.png" alt="">Mail</a>
        <a href="#" class="flex gap-2 py-2 px-4 rounded-full items-center border"><img src="../../public/icons/whatsapp.png" alt="">Whatsapp</a>
    </div>
</section>
</div>
