<div id="home" class="relative">
  <!-- <img class="absolute bottom-80 right-[73em]" src="../../public/icons/Gradient2.png" alt=""> -->
  <section class="">
    <div class="flex flex-col text-white">
      <h2 class="w-8/12 text-[60px]">Desarrollador</h2>
      <h2 class="text-[82px]">Full-Stack</h2>
    </div>
    <div class="flex flex-col justify-between text-white">
      <div>
        <p class="text-base">
          Hola, soy <span class="text-violet">Jonh Jairo Angel</span>,
          desarrollador web con experiencia en frontend y backend. Utilizo
          tecnologías como HTML, CSS, JavaScript, React y Node.js para crear
          soluciones web eficientes y modernas.
        </p>
      </div>
      <div class="flex justify-center gap-4 my-8">
        <button class="border py-3 px-6 rounded-full text-lg">Curriculum</button
        >
        <button class="border py-2 px-4 rounded-full"
          ><img src="../../public/icons/downLoad.png" alt="" /></button
        >
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4 text-white">
      <a
        href="https://github.com/John-Alz"
        target="_blank"
        class="flex gap-2 py-2 px-4 rounded-full items-center border"
        ><img src="../../public/icons/github.png" alt="" />GitHub</a
      >
      <a
        href="https://www.linkedin.com/in/john-angel-desarrollador/"
        target="_blank"
        class="flex gap-2 py-2 px-4 rounded-full items-center border"
        ><img src="../../public/icons/linkedin.png" alt="" />Linkedin</a
      >
      <a
        href="mailto:jairoanngelll@gmail.com"
        target="_blank"
        class="flex gap-2 py-2 px-4 rounded-full items-center border"
        ><img src="../../public/icons/linkedin.png" alt="" />Mail</a
      >
      <a
        href="https://api.whatsapp.com/send?phone=3144048308"
        target="_blank"
        class="flex gap-2 py-2 px-4 rounded-full items-center border"
        ><img src="../../public/icons/whatsapp.png" alt="" />Whatsapp</a
      >
    </div>
  </section>
</div>
