<div id="home" class="relative">
  <!-- <img class="absolute bottom-80 right-[73em]" src="../../public/icons/Gradient2.png" alt=""> -->
  <section class="">
    <div class="flex items-center text-white">
      <h2 class="w-8/12 sm:text-[80px] xl:text-[150px]">Desarrollador</h2>
      <div class="w-4/12 flex justify-center gap-4 translate-y-4">
        <button class="border py-3 px-6 xl:py-6 xl:px-12 rounded-full text-lg"
          >Curriculum</button
        >
        <button class="border py-2 px-5 rounded-full"
          ><img src="../../public/icons/downLoad.png" alt="" /></button
        >
      </div>
    </div>
    <div class="flex items-center justify-between text-white">
      <div class="w-3/6">
        <p class="xl:text-2xl">
          Hola, soy <span class="text-violet">Jonh Jairo Angel</span>,
          desarrollador web con experiencia en frontend y backend. Utilizo
          tecnologías como HTML, CSS, JavaScript, React y Node.js para crear
          soluciones web eficientes y modernas.
        </p>
      </div>
      <div class="w-3/6">
        <h2 class="sm:text-[80px] xl:text-[150px] text-center">Full-Stack</h2>
      </div>
    </div>
    <div class="flex gap-4 text-white mt-10">
      <a
        href="https://github.com/John-Alz"
        target="_blank"
        class="flex gap-2 py-2 px-4 rounded-full items-center border"
        ><img src="../../public/icons/github.png" alt="" />GitHub</a
      >
      <a
        href="https://www.linkedin.com/in/john-angel-desarrollador/"
        target="_blank"
        class="flex gap-2 py-2 px-4 rounded-full items-center border"
        ><img src="../../public/icons/linkedin.png" alt="" />Linkedin</a
      >
      <a
        href="mailto:jairoanngelll@gmail.com"
        target="_blank"
        class="flex gap-2 py-2 px-4 rounded-full items-center border"
        ><img src="../../public/icons/linkedin.png" alt="" />Mail</a
      >
      <a
        href="https://api.whatsapp.com/send?phone=3144048308"
        target="_blank"
        class="flex gap-2 py-2 px-4 rounded-full items-center border"
        ><img src="../../public/icons/whatsapp.png" alt="" />Whatsapp</a
      >
    </div>
  </section>
</div>
