---
import CardTech from "./CardTech.astro";

type Technology = {
  image: string;
  title: string;
  tag: string;
};

const technologies: Technology[] = [
  {
    image: "https://i.postimg.cc/0QnYwBtn/Figma.png",
    title: "Figma",
    tag: "Diseño",
  },
  {
    image: "https://i.postimg.cc/7PFXSHTh/Nextjs.png",
    title: "Next.js",
    tag: "Web Framework",
  },
  {
    image: "https://i.postimg.cc/N0nRYD6F/Java-Script-logo.png",
    title: "JavaScript",
    tag: "JavaScript",
  },
  {
    image: "https://i.postimg.cc/FshdM8MG/Type-Script.png",
    title: "TypeScript",
    tag: "Lenaguaje",
  },
  {
    image: "https://i.postimg.cc/J4HvWYjD/React-icon-svg.png",
    title: "React.js",
    tag: "Libreria",
  },
  {
    image: "https://i.postimg.cc/Bnqz1SdD/Tailwind-CSS.png",
    title: "TailwindCSS",
    tag: "CSS",
  },
];
---

<section id="stack" class="text-white">
  <div class="w-[500px] lg:w-[700px] font-semibold leading-tight mb-12 mt-12">
    <h2 class="text-5xl lg:text-[80px] opacity-50">Acerca</h2>
    <h2 class="text-5xl lg:text-[80px] text-start lg:text-end">
      De mi tech stack
    </h2>
  </div>
  <div
    class="w-10/12 m-auto grid grid-cols-1 gap-y-12 sm:gap-x-12 sm:grid-cols-2 lg:grid-cols-3"
  >
    <!-- <div class="gridStack"> -->
    {
      technologies.map((tech, i) => {
        return (
          <CardTech image={tech.image} title={tech.title} tag={tech.tag} />
        );
      })
    }
  </div>
</section>
<style>
  .gridStack {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
  }
</style>
