---
import CardTech from "./CardTech.astro";

type Technology = {
  image: string;
  title: string;
  tag: string;
};

const technologies: Technology[] = [
{
    image: "https://i.postimg.cc/N0nRYD6F/Java-Script-logo.png",
    title: "JavaScript",
    tag: "JavaScript",
  },
  {
    image: "https://i.postimg.cc/FshdM8MG/Type-Script.png",
    title: "TypeScript",
    tag: "Lenaguaje",
  },
  {
    image: "https://i.postimg.cc/J4HvWYjD/React-icon-svg.png",
    title: "React.js",
    tag: "Libreria",
  },
  {
    image: "https://i.postimg.cc/7PFXSHTh/Nextjs.png",
    title: "Next.js",
    tag: "Web Framework",
  },
  {
    image: "https://i.postimg.cc/0QnYwBtn/Figma.png",
    title: "Figma",
    tag: "Diseño",
  },
  {
    image: "https://i.postimg.cc/Bnqz1SdD/Tailwind-CSS.png",
    title: "TailwindCSS",
    tag: "CSS",
  },
  {
    image: "https://i.postimg.cc/DZNs0pxp/node-js-icon-1817x2048-g8tzf91e.png",
    title: "Nodejs",
    tag: "BackEnd",
  },
  {
    image: "https://i.postimg.cc/DmkXdJkq/express-js.png",
    title: "Express",
    tag: "BackEnd",
  },
  {
    image: "https://i.postimg.cc/gJ1DQ0b0/226777.png",
    title: "Java",
    tag: "Lenaguaje",
  },
];
---

<script>
  import "splitting/dist/splitting.css";
  import "splitting/dist/splitting-cells.css";
  import Splitting from "splitting";
  import { gsap } from "gsap";

  import { ScrollTrigger } from "gsap/ScrollTrigger";

  Splitting();

  gsap.registerPlugin(ScrollTrigger);

 const gsapItems = ["#container-text-2 .title-2"];

 gsapItems.forEach((selector: any) => {
  gsap.from(selector, {
    y:300,
    rotation: 15,
    duration: 4,
    stagger: 0.2,
    ease: "power4.out",

    scrollTrigger: {
      trigger: selector,
      start: 'top 50%',
      end: 'bottom 90%',
      toggleActions: "play none none node",
      scrub: 12
    }

  })

  

 })

</script>

<section id="stack" class="text-white">
  <div id="container-text-2" class="w-[500px] lg:w-[700px] font-semibold leading-tight mb-12 mt-12 ">
    <h2 data-splitting class="text-5xl lg:text-[80px] opacity-50 title-2">Acerca</h2>
    <h2 data-splitting class="text-5xl lg:text-[80px] text-start lg:text-end title-2">
      De mi tech stack
    </h2>
  </div>
  <div
    class="w-10/12 m-auto grid grid-cols-1 gap-y-12 sm:gap-x-12 sm:grid-cols-2 lg:grid-cols-3"
  >
    <!-- <div class="gridStack"> -->
    {
      technologies.map((tech, i) => {
        return (
          <CardTech image={tech.image} title={tech.title} tag={tech.tag} />
        );
      })
    }
  </div>
</section>
<style>
   #stack {
    width: 90%;
    margin: 0 auto;
  }

  @media screen and (min-width: 1600px) {
    #stack {
      width: 80%;
    }
  }
</style>
