---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Desarrollador web" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logoJohn.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>  body {
    /* background: #0B0B0E; */
    background: url(../../public/imgs/bg-12.png) no-repeat;
    background-size: cover;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #0B0B0E;
  }

  ::-webkit-scrollbar-thumb {
    background: #A6A6A6; 
    border-radius: 20px;
  }
  html {
    scroll-behavior: smooth;
  }


</style>
