---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FaMoon } from "react-icons/fa";


interface Props {
  title: string;
}

const { title } = Astro.props;
---

<script>
    const html = document.querySelector('html');
    const btnDark = document.querySelector('#btn-dark');
    const cursorFollower = document.querySelector('.cursor-follower') as HTMLElement;
    
    btnDark?.addEventListener('click', () => {
    html?.classList.toggle('dark')
  })

  document.addEventListener('mousemove', (e) => {
    cursorFollower.style.left = `${e.clientX}px`;
    cursorFollower.style.top = `${e.clientY}px`;
  })


</script>

<!doctype html>
<html class="dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Desarrollador web" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logoJohnDark.svg" />
    <title>{title}</title>
  </head>
  <body class=" dark:bg-dark bg-light bg-no-repeat bg-cover">
    <div class="text-black dark:text-white">
      <button id="btn-dark" class="fixed z-30 rounded-full bottom-4 right-4 bg-white dark:bg-blackAbout p-2 shadow-xl"><FaMoon size={40} /></button>
    </div>
    <div class="cursor-follower"></div>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>  body {
    /* background: #0B0B0E; */
    /* background: url(../../public/imgs/bg-12.png) no-repeat; 
    background-size: cover;  */
  }
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #0B0B0E;
  }

  ::-webkit-scrollbar-thumb {
    background: #A6A6A6; 
    border-radius: 20px;
  }
  html {
    scroll-behavior: smooth;
  }

  .cursor-follower {
    position: fixed;
    z-index: 20000;
    width: 50px;
    height: 50px;
    background-color: #FFF;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.15s ease;
    mix-blend-mode: difference;
  }



</style>
